/* ----- GENERAL STYLING ----- */

.dropdown-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.spacer {
    min-height: 150px;
}


/* ----- COLOURS ----- */

/* ----- HEADER ----- */

.title-bar {
    min-height: 50px;
    background-color: #0e7a0d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0e7a0d;
    color: #000000;
    padding-bottom: 10px;
}

.title {
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 20px;
    text-align: center;
}

.reset-filters-top {
    margin: 10px;

}

.reset-filters-top,
.reset-filters-top:focus,
.reset-filters-top:active:focus {
    outline: none;
}

/*----- Main Content -----*/
.main-content{
    min-height: calc(100vh - 70px);
}

/*----- Footer -----*/

.footer {
    min-height: 50px;
    margin-top: 10px;
    background-color: #0e7a0d;
    color: #000000;
    justify-content: space-around;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.github-logo {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 0;
    transition: all .3s ease-in-out;
}

.github-logo:focus,
.github-logo:hover {
    color: #0e7a0d;
}

.kaggle-logo {
    height: 20px;
}

.kaggle-logo:focus,
.kaggle-logo:hover {
    opacity: 0.8;
}