/* ----- GENERAL STYLING ----- */

.dropdown-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.content-wrapper {
    margin: 5px;
}
.content {
    padding: 5px 10px;
}

.row {
    margin-left: 3px;
    margin-right: 3px;
}

p {
    padding-top: 5px;
}

/* ----- COLOURS ----- */
.title-bar,
.headings,
.sub-headings,
.main-content,
.footer{
    color: #ffffff;
}

/*----- Body -----*/
.page-background {
    height: 100vh;
    width: 100%;
    margin: 0;
    position: relative;
    background: url("../images/ps4-controller-green-light.jpg") no-repeat center fixed;
    background-size: cover;
    /* background image is fixed, so if the webpage contains a lot of content, it will be the content what gets scrolled, but the image stays fixed in place in the background */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}



/* ----- HEADER ----- */

/* The below style rule allows for the header to stay fixed at the top of the screen at all times. This allows for easier use of the dashboard on all devices, as it saves the user having to scroll all the way back to the top of the page to reset the filters, this is aimed towards a positive user experience.*/
.title-bar {
    padding-top: 10px;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: #107c10;
    border-bottom: 1px solid #107c10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title {
    text-decoration: none;
    font-size: 25px;
    margin: 10px 20px;
    text-align: center;
    flex-wrap: wrap;
}

.reset-filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #727375;
}
.reset-filters,
.reset-filters:focus,
.reset-filters:active:focus {
    outline: none;
}
/* The below css causes the reset filters button to change to a darker grey color on hover, this is just a nice touch and allows the user to know they are interacting with a usable button */
.reset-filters:hover {
    background-color: #555656;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}



/*----- Main Content -----*/
/* The padding creates space from the top of the page, meaning the main content is pushed far enough down so that it isn't hidden by the title-bar*/
.main-content {
    padding-top: 120px;
    text-align: center;
    font-family: sans-serif;
    padding-right: 5px;
    padding-left: 5px;
}

.selector {
    color: #000000;
    margin-top: 10px;
}


/*----- Footer -----*/

.footer {
    min-height: 50px;
    background-color: #107c10;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.kaggle-logo {
    height: 20px;
}

.kaggle-logo:focus,
.kaggle-logo:hover {
    opacity: 0.8;
}

.footer-links{
    text-decoration: none;
}

.footer-links:focus,
.footer-links:hover {
    color: #727375;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


/*--- Charts ---*/

/* Bar charts axis text was overlapping where the labels for each tick was written horizontally, so the code below turns the text to 45 degrees/diagonal, meaning the writing is easier to read */
/* help with the code below was taken from https://github.com/dc-js/dc.js/issues/731 - (davisford commented on 18 Oct 2014) */
#publisher-global-sales .x.axis text,
#genre-global-sales .x.axis text,
#north-america-genre-sales .x.axis text,
#europe-genre-sales .x.axis text,
#rest-of-world-genre-sales .x.axis text{
    text-anchor: end !important;
    transform: rotate(-45deg);
}

/* Code below changes the color of the labels/text on the various charts listed */
.bar-chart,
.stacked-bar-chart,
.pie-chart{
    fill: #ffffff;
    width: 100%;
    height:100%;
}

.pie-chart{
    padding-left: 50px;
}

svg {
    width: 100%;
}

/* Code below changes the color of the ticks on the charts charts used */
.x.axis line,
.y.axis line{
    stroke: #ffffff;;
}

.dc-legend {
    font-size: 8px;
}

/*--- Media Queries ---*/
@media (min-width: 768px) {
    .pie-chart{
       padding-left: 20px;
    }
    .europe-bar{
        padding-top: 40px;
    }
    .main-content {
        padding-top: 100px;
    }
    .dc-select-menu{
        font-size: 11px;
    }
}

@media (min-width: 960px) {
    .pie-chart{
        padding-left: 50px;
    }
    .europe-bar{
        padding-top: 10px;
    }
    .dc-select-menu{
        font-size: inherit;
    }
}

@media (min-width: 1200px) {
    .pie-chart{
        padding-left: 90px;
    }
    .europe-bar{
        padding-top: 30px;
    }
}
